/* Флекс на список преимуществ */
.features {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

/* Размер элементов в списке преимуществ */
.features__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

/* Фон под иконки */
.features__wrapper {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

/* Подзаголовки списка преимуществ */
.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

/* Текс в подзаголовках преимуществ */
.features__text {
  line-height: 1.71;
  color: var(--text-color);
}
