/* Падинги в футере */
.footer {
  padding: 60px 0;

  background-color: #2f303a;
}

/* Преобразование из строчного в блочный элемент */
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

/* Выделение белым цветом studio */
.logo__wrapper--white {
  color: #ffffff;
}

/* Сброс курсивного начертания в теге address */
.footer-info {
  font-style: normal;
}

/* Отступы (margin) в списке футера кроме последнего */
.footer-contacts__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

/* Физический адрес студии */
.footer-contacts__map {
  line-height: 1.71;
  color: #ffffff;

  transition: color var(--tr-duration) var(--tr-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* Дополнительная почта и телефон */
.footer-contacts__link {
  transition: color var(--tr-duration) var(--tr-function);

  display: inline-block;

  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* Заголовок списка соц сетей в футере */
.footer-title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.17;
  color: #ffffff;
  text-transform: uppercase;
}

/* Флекс на список соц сетей */
.footer-social-networks {
  display: inline-flex;
}

/* Стили к элементу списка */
.footer-social-networks__item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

/* Стили к ссылке */
.footer-social-networks__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--tr-duration) var(--tr-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

/* Наследование цвета иконками */
.footer-social-networks__icon {
  fill: currentColor;
}

/* Маржин меджу блоками */
.wrapper--right-pos {
  margin-left: 70px;
}

/* Выравнивание по базовой линии */
.footer__container {
  display: flex;
  align-items: baseline;
}
