/* Флекс на форму для компоновки */

.footer-form {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
  }
}

/* Флекс на div для компоновки в колонку */
.footer-form__field {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

/* Стили к label */
.footer-form__label {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

/* Стили к полю ввода */
.footer-form__input {
  max-width: 450px;
  height: 50px;
  padding: 15px 16px;

  font-size: 16px;
  color: #ffffff;

  background-color: rgba(47, 48, 58, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}

/* Стили к кнопке подписки */
.footer-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  min-width: 200px;
  min-height: 50px;

  @include text-value(16px, 700, 1.87);
  letter-spacing: 0.06em;
  color: #ffffff;

  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  cursor: pointer;

  transition: background-color var(--tr-duration) var(--tr-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

/* Стили к иконке на кнопке */
.footer-form__icon {
  margin-left: 10px;
  fill: #ffffff;
}
