/* Анимация */
@keyframes puls {
  0% {
    transform: rotateY(0deg) scale(1) translateX(-200px);
  }
  50% {
    transform: rotateY(45deg) scale(1.6) translateZ(50px);
  }
  100% {
    transform: rotateY(360deg) scale(1) translateZ(30px);
  }
}
